@font-face {
  font-family: "pricedown";
  /* src: url("../../assets/fonts/Pricedown\ Bl.otf"); */
}

.culturalContainer {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.culturalInnerContainer {
  /* height: 100vh; */
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.3rem;
  margin: 0.7rem;
  position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2rem;
  position: relative;
}

@media (min-width: 426px) {
  .gridContainer:first-child {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 90%);
    transform: translateY(22%);
  }

  .gridContainer:nth-child(2) {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 73%);
  }

  .gridContainer:nth-child(3) {
    /* clip-path: polygon(0 73%, 100% 100%, 100% 0, 0 15%, 0 15%); */
    /* clip-path: polygon(0 10%, 100% 39%, 100% 100%, 0 90%); */
    /* clip-path: polygon(0 0, 100% 0, 100% 75%, 0 90%); */
    /* clip-path: polygon(0 73%, 100% 100%, 100% 0%, 0 15%); */
    clip-path: polygon(0 10%, 100% 39%, 100% 100%, 0 100%);
    transform: translateY(-35%);
  }

  .gridContainer:nth-child(4) {
    transform: translateY(-35%);
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 90%);
    /* clip-path: polygon(0 0, 100% 0, 100% 75%, 0 90%); */
  }
}

.culturalPhotoCell {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  /* position: relative; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
  /* animation: slide-in-out 4s infinite; */
}

.culturalPhotoCell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 425px) {
  .gridContainer {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 426px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .culturalPhotoCell {
    height: 10rem;
  }
}

@media (min-width: 1024px) {
  /* .gridContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  } */
  .culturalPhotoCell {
    height: 12rem;
  }
}

@keyframes slide-in-out {
  0% {
    transform: translateX(100%);
  }

  /* 25% {
    transform: translateX(50%);
  } */
  50% {
    transform: translateX(0);
  }

  /* 75% {
    transform: translateX(-50%);
  } */
  100% {
    transform: translateX(-100%);
  }
}

.container {
  width: 100%;
  overflow: hidden;
  position: relative;
  border: 2px solid #000;
}

.textArea {
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
  position: absolute;
  /* z-index: 10; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* display: none; */
}

.pro {
  -webkit-text-stroke: 5px black;
  /* line-height: 1rem; */
  font-size: 8rem;
  font-family: "Badeen Display", serif;
}

.show {
  -webkit-text-stroke: 4px black;
  font-size: 6rem;
  font-family: "Badeen Display", serif;
  line-height: 0rem;
}

.name {
  color: white;
  -webkit-text-stroke: 2px rgb(13, 0, 87);
  font-size: 3rem;
  font-family: "Pacifico", serif;
  /* line-height: -10rem; */
  margin-top: 1rem;
  text-transform: capitalize;
}

.name2 {
  line-height: 2rem;
}

.date {
  -webkit-text-stroke: 5px black;
  /* line-height: 1rem; */
  font-size: 5rem;
  /* font-family: "Badeen Display"; */
}
